---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = await Astro.glob("../pages/posts/*.md");
const pageTitle = "My Astro Learning Blog";
---

<BaseLayout pageTitle={pageTitle}>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid voluptatibus, quibusdam,
		assumenda accusantium cumque doloremque praesentium ex recusandae cupiditate quos minima mollitia
		laborum corporis iure consequuntur possimus alias a laboriosam modi pariatur? Pariatur aliquid
		quidem vel esse eius? Voluptas, tempore soluta ad excepturi debitis temporibus exercitationem illo
		beatae saepe voluptatum!
	</p>
	<ul>
		{allPosts.map(post => <BlogPost url={post.url} title={post.frontmatter.title} />)}
	</ul>
</BaseLayout>
