---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<a href="/">Home</a>
		<a href="/about/">About</a>
		<a href="/blog/">Blog</a>
		<h1>My Astro Blog Page</h1>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid voluptatibus, quibusdam,
			assumenda accusantium cumque doloremque praesentium ex recusandae cupiditate quos minima mollitia
			laborum corporis iure consequuntur possimus alias a laboriosam modi pariatur? Pariatur aliquid
			quidem vel esse eius? Voluptas, tempore soluta ad excepturi debitis temporibus exercitationem
			illo beatae saepe voluptatum!
		</p>
	</body>
</html>
