---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "My Astro Learning Blog";
---

<BaseLayout pageTitle={pageTitle}>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid voluptatibus, quibusdam,
		assumenda accusantium cumque doloremque praesentium ex recusandae cupiditate quos minima mollitia
		laborum corporis iure consequuntur possimus alias a laboriosam modi pariatur? Pariatur aliquid
		quidem vel esse eius? Voluptas, tempore soluta ad excepturi debitis temporibus exercitationem illo
		beatae saepe voluptatum!
	</p>
	<ul>
		<li><a href="/posts/post-1/">Post 1</a></li>
		<li><a href="/posts/post-2/">Post 2</a></li>
		<li><a href="/posts/post-3/">Post 3</a></li>
	</ul>
</BaseLayout>
